name: Pylint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - run: pip install pylint
      - run: pip install pyyaml
      - run: pylint $(git ls-files '*.py')
